<!-- views/includes/footer.ejs -->
<footer>
    <p>&copy; 2023 Pizza Shop</p>
</footer>
<!-- Include Navbar JavaScript -->
<script src="/js/navbar.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
</body>
</html>